@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/LayoutUser.cshtml";
}

<div class="container">
    <div id="page">
        <div class="logo">
            <ion-icon name="logo-react"></ion-icon>
        </div>
        <div class="content">
            <div class="left">
                <div class="title">
                    <h1></h1>
                </div>
                <p>Register</p>
                <button>Explorer</button>
            </div>
            <div class="right">
                <form action="#">
                    <h1>LOGIN</h1>
                    <input type="text" placeholder="Username" id="username" />
                    <input type="password" placeholder="Password" id="password" />
                    <input type="submit" value="LOGIN" />
                </form>
            </div>
        </div>
    </div>
</div>
