
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/LayoutLoginRegister.cshtml";
}

<section>
    <div class="form-box">
        <div class="form-value">
            <form action="">
                <div class="login-card-logo">
                    <img src="~/images/Logo_Version1.png" alt="logo">
                </div>
                <h2>Sign In With Admin</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                </div>
                <button>Log in</button>
            </form>
        </div>
    </div>
</section>



