<a href="@Url.Action("DanhSachDangKy", "DanhSachDangKy")" style="color:white; font-weight:bold; text-decoration:none">
    <img src="~/images/Giohang.png" alt="Khóa học đăng ký" />
    Khóa học đăng ký (@ViewBag.TongSoLuong)
</a>
