@model List<WebApplicationProject.Model.LoaiWithCount>
<div>
    <table class="table">
        <thead>
            <tr style="text-align:center" class="info">
                <th>Tên</th>
                <th>Số lượng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="text-align:center; font-family:'Times New Roman'; font-size:20px">
                    <td>@item.TenLoai</td>
                    <td>@item.SoLuong</td>
                </tr>
            }
        </tbody>
    </table>
</div>
