@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LayoutHomeProject.cshtml";
}

<!-- home section  -->

<section class="home">

    <div class="content">
        <h3>E-learning is a better way of learning</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia repellat aperiam libero, beatae debitis iusto quia sit aliquid placeat facilis?</p>
        <a href="@Url.Action("Course", "Home")" class="btn">get started</a>
    </div>

    <div class="image">
        <img src="~/images/home-img.svg" alt="">
    </div>
</section>




