<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">

    <!-- font ionic cdn link  -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!--  css file link  -->
    @Styles.Render("~/Content/cssAdmin")
    
</head>
<body>
    @RenderBody()
    <!--  js file link -->
    @Scripts.Render("~/Script/jsAdmin")
</body>
</html>
